apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: lms-application
  namespace: argocd
spec:
  project: default
  
  source:
    repoURL: https://github.com/LMS-WSO2/LMS.git
    targetRevision: aws-pipeline
    path: k8s
  
  destination:
    server: https://kubernetes.default.svc
    namespace: lms
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
    - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
