apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-api
  namespace: lms
spec:
  replicas: 2
  selector:
    matchLabels:
      app: inventory-api
  template:
    metadata:
      labels:
        app: inventory-api
      annotations:
        config.linkerd.io/skip-outbound-ports: "5432,6379"
    spec:
      containers:
      - name: inventory-api
        image: barathbarath/inventory-api:1b9a488-1765659388
        ports:
        - containerPort: 8080
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: "Production"
        - name: ConnectionStrings__Inventory
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: INVENTORY_DB
        - name: CatalogService__BaseUrl
          value: "http://catalog-api:8080"
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: inventory-api
  namespace: lms
spec:
  selector:
    app: inventory-api
  ports:
  - port: 8080
    targetPort: 8080
  type: ClusterIP
