# Deploy Argo Rollouts via Helm
# Run: ansible-playbook -i inventory.yml playbooks/02-deploy-argo-rollouts.yml
---
- name: Deploy Argo Rollouts
  hosts: masters
  become: yes
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  tasks:
    - name: Add Argo Helm repo
      shell: |
        helm repo add argo https://argoproj.github.io/argo-helm
        helm repo update
      ignore_errors: yes

    - name: Install Argo Rollouts
      shell: |
        helm install argo-rollouts argo/argo-rollouts \
          --namespace argo-rollouts \
          --create-namespace \
          --wait --timeout 5m
      ignore_errors: yes

    - name: Install Argo Rollouts kubectl plugin
      shell: |
        curl -LO https://github.com/argoproj/argo-rollouts/releases/latest/download/kubectl-argo-rollouts-linux-amd64
        chmod +x kubectl-argo-rollouts-linux-amd64
        mv kubectl-argo-rollouts-linux-amd64 /usr/local/bin/kubectl-argo-rollouts
      args:
        creates: /usr/local/bin/kubectl-argo-rollouts

    - name: Verify Argo Rollouts
      shell: kubectl get pods -n argo-rollouts
      register: rollouts_pods

    - name: Display Argo Rollouts status
      debug:
        msg: "{{ rollouts_pods.stdout_lines }}"
